.App {
    padding: 5vh 0vw 5vh 0vw;
    display: flex;
}

.form {
    width: 60vw;
    height: 90vh;
    margin-right: 10vw;
    /* background-color: cadetblue; */
}

.form-elements {
    margin: 0 2vw;
}

.graph {
    margin-right: 5vw;
    width: 90vh;
    /* background-color: chocolate; */
}